* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.header--logo {
  max-width: 100px;
}

.header--title {
  color: white;
  font-size: 20px;
  padding: 10px 10px;
}

.card {
  padding: 30px 40px;
  display: flex;
  align-items: center;

}

.card--image {
  height: 250px;
  display: flex;
  
}

.card--info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.card--location {
  display: flex;
  flex-direction: row;
  
}

.card--locationPin {
  padding-right: 10px;
}

.card--country {
  text-transform: uppercase;
  padding-right: 10px;
}